<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Factura</title>
    <link rel="stylesheet" href="/css/factura.css">
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <div class="factura-container">
        <a class="back-link" th:href="@{/}">X</a>

        <h1>Factura de Venta</h1>
<form th:action="@{/factura}" method="post">

    <div class="input-group">
        <label>Cliente</label>
        <select name="id_cliente" required>
            <option th:each="c : ${clientes}" th:value="${c.id_cliente}" th:text="${c.nombre}"></option>
        </select>
    </div>

    <!-- MÉTODO DE PAGO -->
<div class="input-group">
    <label>Método de Pago</label>
    <select name="id_metodo" required>
        <option th:each="m : ${metodosPago}" th:value="${m.id_metodo}" th:text="${m.nombre}"></option>
    </select>
</div>

<!-- ESTADO -->
<div class="input-group">
    <label>Estado</label>
    <select name="id_estado" required>
        <option th:each="e : ${estadosVenta}" th:value="${e.id_estado}" th:text="${e.nombre}"></option>
    </select>
</div>


    <div class="productos-lista">
        <div class="producto-item" th:each="p : ${productos}">
    <label>
        <input type="checkbox" name="productosSeleccionados" th:value="${p.id_producto}" />
        <span th:text="${p.nombre} + ' - Q' + ${p.precio}"></span>
    </label>
    <input type="number" th:name="'cantidad_' + ${p.id_producto}" min="1" value="1" />
</div>

    </div>

    <button type="submit">Guardar Venta</button>
</form>

    </div>





    <script th:if="${error != null}">
    Swal.fire({
        icon: 'error',
        title: '¡Error!',
        text: '[[${error}]]', // si usas Thymeleaf < 3
        toast: true,
        position: 'top-end',
        timer: 4000,
        timerProgressBar: true,
        showConfirmButton: false
    });
</script>


</body>
</html>