<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Proveedor</title>
    <link rel="stylesheet" href="/css/proveedorform.css">
</head>
<body>
    <h1>Registrar Nuevo Proveedor</h1>
    <form th:action="@{${proveedor.id_proveedor} != null ? '/proveedor/actualizar/' + ${proveedor.id_proveedor} : '/proveedores/guardar'}"
      th:object="${proveedor}" method="post">



        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" required><br>

        <label>Contacto:</label>
        <input type="text" th:field="*{contacto}"><br>

        <label>Teléfono:</label>
        <input type="tel" th:field="*{telefono}" required><br>

        <label>Email:</label>
        <input type="email" th:field="*{email}" required><br>

        <label>Dirección:</label>
        <textarea th:field="*{direccion}"></textarea><br>

      


         <div class="form-buttons">
             <button type="submit">Guardar</button>

        <a th:href="@{/proveedores}" class="cancel-button">Cancelar</a>
        
    </div>
    </form>

    <br>
    
</body>
</html>
