<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Subir Imagen al Producto</title>
</head>
<body>
    <h1>Subir Imagen para el Producto</h1>
    <form th:action="@{/imagenes/producto/{id}/subir(id=${producto.id_producto})}" 
          method="post" enctype="multipart/form-data">
        <label>Selecciona la imagen (png, jpg):</label>
        <input type="file" name="archivo" accept=".png,.jpg,.jpeg" required />
        <button type="submit">Subir Imagen</button>
    </form>
    <br>
    <a th:href="@{/producto}">Regresar al listado de productos</a>
</body>
</html>
